@using CoreCode.Web.UI.Models.Helpers
@{
    ViewBag.Title = "Registrando aerolinea";
}
@section pageCss{
    <link rel="stylesheet" href="~/Scripts/TableHide.css" />
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/environmentVariables.js"></script>
<script src="~/Scripts/Views/ControlActions.js"></script>
<script src="~/Scripts/CoreCodeScripts/Common/ControlUserActions.js"></script>
<script src="~/Scripts/Views/vCreateAirplane.js"></script>
@{
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<form id="frmEditionAirplane" class="main-right-content-container">
    <div style="margin: 0 auto; width: 30%;">
        <h2>Registro de avión</h2>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.GetInputWithLabel("txtId", "text", "Empresa:*", "form-control", "(Obligatorio)", "Id", true)
        </div>
        <div class="form-group col-md-6">
            @Html.GetInputWithLabel("txtName", "text", "Nombre del avión:*", "form-control", "(Obligatorio)", "Name", true)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.GetInputWithLabel("txtLicensePlate", "text", "Placa:*", "form-control", "(Obligatorio)", "License_Plate", true)
        </div>
        <div class="form-group col-md-6">
            @Html.GetInputWithLabel("txtCapacity", "text", "Capacidad de asientos:*", "form-control", "(Obligatorio)", "Capacity", true)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.GetInputWithLabel("txtModel", "text", "Modelo de avión:*", "form-control", "(Obligatorio)", "Model", true)
        </div>
        <div class="col-md-6">
            @Html.GetInputWithLabel("txtBrand", "text", "Marca del avión:*", "form-control", "(Obligatorio)", "Brand", true)
        </div>
        <div class="form-group col-md-4">
            <p>Aerolínea</p>
            @Html.GetSelectDropdown("dropdownOriginAirline", "vCreateAirplane", "", "loadAirlineDropdown", "Id_Airline",
          new Dictionary<string, string>() {{ "Seleccione la aerolínea:", ""}})
        </div>
    </div>

</form>
<form class="main-right-content-container">
    <div id="btnControl">
        @Html.GetConfirmButton("btnRegisterAirplane", "Create", "vCreateAirplane", "", "Registrar")
        @*@Html.GetConfirmButton("btnClean", "CleanForm", "vCreateAirplane", "", "Limpiar")*@
    </div>
</form>


