@using CoreCode.Web.UI.Models.Helpers


@section pageCss{
    <link rel="stylesheet" href="~/Scripts/TableHide.css" />
}


<script src="~/Scripts/Views/ControlActions.js"></script>
<script src="~/Scripts/Views/vCountries.js"></script>


@{
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<div id="DropdownAndTable" style="margin: 0 auto; width: 98%" ;>
    @Html.GetSelectDropdown("statusFilter", "vReservations", "ReservationStatusDropdownChange", "", "",
        new Dictionary<string, string> { { "Habilitar reservación",  "true" }, { "Deshabilitar reservación", "false" } })
    @Html.GetTable("tblReservation", "vReservations", "BindFields", "", new List<string> { "IDReservation", "Name", "FirstLastName", "Destiny", "Price", "Buy_Date" },
    new List<string> { "Código", "Nombre", "Apellido","Destino", "Precio", "Fecha de vuelo" })
</div>


<div class="card border-secondary" style="margin: 0 auto; width: 98%";">
    <div class="card-header">
        <div class="row pull-right">
            <h5 class="col-md-6">Modificación de país</h5>
            <div class="col-md-6">
                @Html.GetConfirmButton("btnRegisterReservation", "Create", "vReservations", "", "Registrar")
                @Html.GetConfirmButton("btnRegisterReservation", "Update", "vCountries", "", "Modificar")
                @Html.GetConfirmButton("btnDisable", "Disable", "vReservations", "", "Deshabilitar")
                @Html.GetConfirmButton("btnEnable", "Enable", "vReservations", "", "Habilitar")
                @Html.GetConfirmButton("btnClean", "CleanForm", "vReservations", "", "Limpiar")

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <form id="frmEdition">
                        <div class="form-group col-md-10">
                            @Html.GetInputWithLabel("txtId", "text", "Código", "", "", "IDReservation", false)
                        </div>
                        <div class="form-group col-md-10">
                            @Html.GetInputWithLabel("txtName", "text", "Nombre", "", "", "Name", true)
                        </div>
                        <div class="form-group col-md-10">
                            @Html.GetInputWithLabel("txtFirstLastName", "text", "Apellido", "", "", "FirstLastName", true)
                        </div>
                        <div class="form-group col-md-10">
                            @Html.GetInputWithLabel("txtDestiny", "text", "Destino", "", "", "Destiny", true)
                        </div>
                        <div class="form-group col-md-3">
                            @Html.GetInputWithLabel("txtPrice", "text", "Precio del ticket", "", "Costo en dólares ", "Price", true)
                        </div>
                        <div class="form-group col-md-10">
                            @Html.GetInputWithLabel("txtBuy_Date", "date", "Fecha de vuelo", "", "Fecha de compra ", "Buy_Date", false)
                        </div>
                        <div class="col-lg-10">
                            <p>
                                Precios
                            </p>
                            @Html.GetSelectDropdown("dropdownOriginAirport", "vReservations", "", "loadAirportDropdown", "Name",
                               new Dictionary<string, string>() {{ "Seleccione el aeropuerto:", ""}})
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>